<div class="content-type rich-text">
    <%= link_to 'Bearbeiten', rails_admin.edit_path(model_name: record.class.model_name.i18n_key, id: record.to_param), class: 'edit', 'data-no-turbolink'=> true  %>
    <%= record.content.html_safe %>
</div>
