//= require rails_admin/ra.globalize_tabs

// rails_admin_globalize_field
.globalize_tabs_type.translations_field>label{
  display: none;
}

.globalize_tabs_type.translations_field .nav-tabs a{
  text-transform: uppercase;
}

// rails_admin_nestable
#rails_admin_nestable .dd {
  font-size: inherit;
}
#rails_admin_nestable .dd-item, .dd-empty, .dd-placeholder{
  font-size: inherit;
}


// less border on tab pane
body.rails_admin .form-horizontal .tab-content .tab-pane {
  border-left: 2px solid #049cdb;
  padding-left: 7px;
}


// hide meaningless content heading
.content>.page-header {
  display: none;
}


// hide filter tools
#list .well{
  display: none;
}
.content>.nav-tabs>.dropdown:last-child{
  display: none;
}


// list action links
#list .last.links i{
  font-size: 1.4em;
}