/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twb2theme/bootstrap
 *= require twb2theme/font-awesome
 *= require twb2theme/style
 *= require twb2theme/blue
 *= require twb2theme/bootstrap-responsive

*/


.content-type{
  position: relative;
}
.content-type>a{
  display: none;
  font-size: 0.75em;
  position: absolute;
  background-color: white;
}
.content-type:hover>a{
  display: block;
}
.content-type>a.edit{
  color: #fe781e;
}