.content-type{
  position: relative;
}

.content-type.editable:hover{
  outline: 2px dashed rgba(18, 196, 0, 0.3);
  transition: all 0s 0.25s;
}

.content-type.editable{
  transition: background-color 0.5s 0s;
}

.editable.has-error{
  background-color: rgba(221, 71, 38, 0.10);
  transition: all 0.5s 0s;
}
.editable.update-success{
  background-color: rgba(18, 196, 0, 0.1);
  transition: all 0.5s 0s;
}


.dropdown.language{
  font-size: 0.7em;
  margin-right: 11px;
  margin-top: 16px;
}