<%
    nav_class ||= ''
%>
<ul class="<%= nav_class %>">
<% item_class.flat.each do |ni| %>
<li>
  <% if ni.target.present? %>
      <%= link_to ni.label, ni.target %>
  <% else %>
      <%= link_to ni.label, ni.page %>
  <% end %>
</li>
<% end %>
</ul>