<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span>Navigation</span>
</a>
<div class="nav-collapse collapse">

<%= render 'layouts/navigation/navigation_items_flat', item_class: NavigationItem, nav_class: 'nav' %>

<%= render 'layouts/navigation/user_navigation' %>

</div>
